$transform-duaration:0.6s;
$bar-height:40px;
$board-size:500px;
%abosulute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: $transform-duaration;
}
.light{
    background-color: #eee;
    .bar{
        background-color: #aaa;
    }
}
.dark{
    .container{
        border: 2px solid #555;
    }
    background-color: #111;
    h1{
        color: #fff;
    }
    .bar{
        color: #fff;
        background-color: #333;
        button{
            background-color: #bbb;
        }
    }
}
.container{
    display: block;
    margin: {
        left: auto;
        right: auto;
    };
    width: $board-size;
    height: calc( $bar-height + $bar-height + $board-size + 4px);
    border: 2px solid #000;
    @media (max-width:600px) {
        width: 320px;
        height: 350px;
    }
    .board{
        width: 100%;
        height: $board-size;
        max-height: 80%;
        border-bottom: 2px solid #000;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .square{
            width: 12.5%;
            height: 12.5%;
            position: relative;
            &.dot::after{
                content: "";
                @extend %abosulute-center;
                width: 50%;
                height: 50%;
                background-color: #222;
                opacity: 70%;
                border-radius: 50%;
                z-index: 10;
            }
            img{
                @extend %abosulute-center;
                width: 60%;
                height: 80%;
                background-color: transparent;
            }
            &.danger{
                $danger-border:3px;
                border: $danger-border solid #dc3545;
                img{
                    width: calc(60% + $danger-border * 1.2);
                    height: calc(80% + $danger-border * 1.6);
                }
            }
        }
        .white{
            background-color: #e3c16f;
        }
        .black{
            background-color: #b88b4a;
        }
    }
    .bar{
        transition-duration: $transform-duaration;
        height: $bar-height;
        max-height: 10%;
    }
    .upbar{
        p{
            font-size: 17pt;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .downbar{
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
        button{
            img{
                width: 60%;
                height: 60%;
            }
            aspect-ratio: 1;
            height: 100%;
            border: none;
        }
    }
}

.shadow-layer{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 80%;
    top:0;
    left: 0;
}
.box{
    @extend %abosulute-center;
    top: 40%;
    background-color: #333;
    z-index: 200;
    text-align: center;
}
.my-alert{
    display: none;
    .box{
        width:250px;
        height: 120px;
        p{
            color: #fff;
            margin: 20px 0;
            font-size: 18pt;
            width: 100%;
        }
        button{
            width: 80px;
            height: 30px;
            background-color: #337ab7;
            border: none;
        }
    }
}
.pawn-upgrade{
    display: none;
    .box{
        width:250px;
        height: 130px;
        img{
            width: 18%;
            aspect-ratio: 1;
        }
    }
}
