*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.light{
    background-color: #eee;
    .downbar{
        background-color: #fff;
    }
}
.dark{
    background-color: #555;
    h1{
        color: white;
    }
    .downbar{
        background-color: #222;
        button{
            background-color: #aaa;
        }
    }
}
.container{
    display: block;
    margin: {
        left: auto;
        right: auto;
    };
    width: 500px;
    height: 550px;
    border: 2px solid black;
    .board{
        width: 100%;
        height: calc(100% - 50px);
        border-bottom: 2px solid #000;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .square{
            width: 12.5%;
            height: 12.5%;
            position: relative;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 60%;
                height: 80%;
                background-color: transparent;
            }
        }
        .white{
            background-color: #e3c16f;
        }
        .black{
            background-color: #b88b4a;
        }
    }
    .downbar{
        
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
        button{
            img{
                width: 60%;
                height: 60%;
            }
            width: 50px;
            height: 50px;
            border: none;
        }
    }
}
@media (max-width:600px) {
    .container{
        width: 300px;
        height: 350px;
    }
}